.twitter-typeahead{
    display: inline;}


.typeahead-content{
    box-shadow: 0 1px 2px rgba(0,0,0,.26);
    background-color: #fff;
    cursor: pointer;
    margin-top: -15px;
    min-width: 100px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    white-space: nowrap;
    z-index: 1001;
    will-change: width,height;}


.typeahead-highlight{
    font-weight: 900;}


.typeahead-suggestion{
    padding: 5px 0px 10px 10px;}


.typeahead-suggestion:hover{
    background-color: #42A5F5;
    color: #FFF;}


.typeahead-notfound{
    cursor:not-allowed;
    padding: 5px 0px 10px 10px;}

.tt-hint{
  color: #999;}

.tt-dataset{
  width: 400px;
  margin-top: 3px;
  padding: 8px 0;}
  /*background-color: #fff*/



.tt-menu{
  height: 150px;
  width: 422px;
  margin-top: 3px;
  padding: 8px 0;
  font-size: 14px;
  background-color: #fff;
  text-align: left;
  overflow: visible;
  overflow-y: auto;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);}


.tt-suggestion{
  line-height: 24px;
  color: black;
  padding-left: 16px;}


.tt-suggestion.tt-cursor{
  color: #fff;
  background-color: #0097cf;}



.tt-suggestion p{
  margin: 0;
  text-align: left;}


.twitter-typeahead{
	width: 100%;}
